* {
  padding: 0px;
  margin: 0px;
}

.page-cloud-bg {
  background-image: url("./images/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  min-height: 100vh;
  display: flex;
}

.page-water-bg {
  background-image: url("./images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.page-coconut-bg {
  background-image: url("./images/westerntree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  min-height: 100vh;
  display: flex;
}

/*.about-header {
  padding-bottom: 110px;
}*/


/*.hello {
  padding-bottom: 70px;
}*/


.font-link {
  font-family: 'Montserrat', sans-serif;
}


#welcome-wrapper {
  background-color: #EDAE49;
  padding-top: 0.46rem;
  /*width: 60vw;*/
  width: 13em;
}

.projects-header-wrapper {
  background-color: #2EC4B6;
  
  width: 12rem;

}

.projects-header-wrapper h1 {
  color: #A5402D;
}


.card-width {
  max-width: 35rem;
}

img {
  cursor: pointer;
}


/* Galaxy Fold */
@media (min-width: 280px){  
  .home-text {
    font-size: 14px;
    font-weight: bold;
  }

  .nav-text {
    font-size: .7em;
  }
} @media (max-width: 600px){  
  .about-section-level {
    font-size: 9px;
  }
}



/* iPad */
@media (min-width: 768px){  
  .home-text {
    font-size: 16px;
    font-weight: bold;
  }

  .nav-text {
    font-size: 1em;
  }

  #welcome-wrapper {
    background-color: #EDAE49;
    padding-top: 0.46rem;
    /*width: 60vw;*/
    width: 19rem;
  }

  .projects-header-wrapper {
    width: 13rem;

  }

}


/* iPad Pro */
@media (min-width: 1024px){  
  .home-text {
    font-size: 18px;
    font-weight: bold;
  }

  .nav-text {
    font-size: 1em;
  }

  #welcome-wrapper {
    background-color: #EDAE49;
    padding-top: 0.46rem;
    /*width: 60vw;*/
    width: 19rem;
  }

  .projects-header-wrapper {
    width: 14rem;

  }
}



/**/


/* Laptop 1440 */
@media (min-width: 1440px){  
  .home-text {
    font-size: 20px;
    font-weight: bold;
  }

  .nav-text {
    font-size: 1em;
  }

  #welcome-wrapper {
    background-color: #EDAE49;
    padding-top: 0.46rem;
    /*width: 60vw;*/
    width: 20rem;
  }


}


